.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 30px;
  border: 2px solid #F2F4F6;
  border-radius: 7px;
}

.logo-state-flex {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-state-flex img {
  padding: 6px;
  border-radius: 7px;
  background-color: #F0F0F0;
}

.card-boxinfos {
  display: flex;
  align-items: center;
  gap: 12px;
}