.search-location {
  background: linear-gradient(to top right, #F2F4F6, #FFFFFF);
}

.search-textbox {
  max-width: 800px;
  margin-left: 50px;
}

.search-textbox h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin-bottom: 25px;
  margin-top: 20px;
  color: #0C0B0D;
}

.search-textbox p {
  line-height: 1.3rem;
  margin-bottom: 50px;
  color: #66646B;
}

.input-box {
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.local-icon, .search-icon {
  position: absolute;
  pointer-events: none; 
}

.local-icon {
  top: 50%; 
  left: 15px;
  transform: translateY(-50%); 
}

.search-icon {
  top: 50%; 
  left: 15px;
  transform: translateY(-50%); 
}

input {
  padding: 28px 28px 28px 45px; 
  width: 100%;
  height: 50px; 
  font-size: 16px; 
  border: none;
  outline: none;
}

.input-local {
  border-radius: 0px 7px 7px 0px;
}

.input-pesquisar {
  border-radius: 7px 0px 0px 7px;
}

.input-box > .input-father {
  position: relative; 
  width: 100%;
}

.decoration::after {
  content: '';
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  height: 35px;
  width: 2px;
  z-index: 99;
  background-color: #EBEBEB;
}

.buttonSearch {
  position: absolute;
  top: 50%; 
  right: 15px;
  transform: translateY(-50%); 
  border: none;
  border-radius: 7px;
  padding: 8px 16px;
  background-color: rgb(37, 99, 235);
  color: rgb(248, 250, 252);
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  transition: 0.5s;
}

.buttonSearch:hover {
  background-color: rgb(24, 88, 226);
}

@media (max-width: 1120px) {
  .search-textbox {
    margin-left: 0px;
  }
}

@media (max-width: 680px) {
  input {
    padding: 28px 28px 28px 45px; 
    font-size: 16px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
  }

  .input-father {
    margin-bottom: 15px;
  }

  .input-box {
    flex-direction: column;
    margin-bottom: 80px;

    box-shadow: none;
  }

  .input-local, .input-pesquisar {
    border-radius: 7px;
  }

  .buttonSearch {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    top: 115px;
    padding: 15.5px;
  }

  .decoration::after {
    content: '';
    height: 0px;
    width: 0px;
  }
}

@media (max-width: 470px) {
  .search-textbox {
    max-width: 1000px;
  }
  
  .search-textbox h1 {
    font-size: 2.3rem;
    line-height: 2rem;
  }
  
  .search-textbox p {
    line-height: 1.3rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 320px) {
  .search-textbox h1 {
    font-size: 1.8rem;
  }

  .search-textbox p {
    line-height: 1.3rem;
    font-size: 0.875rem;
  }
}